.field-name-field-event-hold .btn-large
{
    float:right;
    font-size: 20px;
}
.field-name-field-hold-navn
{
    font-weight: bold;
}
.field-name-field-ding-event-date
{
    margin-bottom: 5px;
}
.field-collection-view
{
    margin:0px !important;
}
